@import "tailwindcss";

@theme inline {
  --color-primary: #171212;
  --color-secondary: #856161;
  --color-tertiary: #F0EBEB;
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  border-color: #e5e7eb;
}

button {
  cursor: pointer;
}